<!DOCTYPE html>
<html lang="zh-TW"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no"/>
	<link rel="stylesheet" th:href="@{/vendor/bootstrap-5.0.0/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/vendor/toastr/toastr.min.css}" />
	<link rel="stylesheet" th:href="@{/css/base.css}" />
	<title>anti-covid</title>
</head>
<body>
	<div class="container p-4 my-3">
		<table class="table">
			<thead>
				<tr>
					<th>日期</th>
					<th>星期</th>
					<th>A班</th>
					<th>B班</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="data : ${datas}">
					<td th:text="${#temporals.format(data.date, 'MM / dd')}"></td>
					<td th:text="${data.week}"></td>
					<td>
						<span th:if="${data.isA}" class="text-success">正常</span>
						<span th:unless="${data.isA}" class="text-danger fw-bold">居家上班</span>
					</td>
					<td>
						<span th:if="${data.isB}" class="text-success">正常</span>
						<span th:unless="${data.isB}" class="text-danger fw-bold">居家上班</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<script th:src="@{/vendor/jquery3.6.0/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap-5.0.0/bootstrap.min.js}"></script>
	<script th:src="@{/vendor/toastr/toastr.min.js}"></script>
	<script>
	$(function(){
		toastr.options = {
			"closeButton": "true",
		    "positionClass": "toast-top-center",
		};
	})
	</script>
</body>
</html>